%header
  .header__container
    %ul.header__container--common
      %li ホストになる
      %li ホストする時間がない方はこちら
      %li ヘルプ
    %ul.header__container__user--new
      %li アカウント作成
      %li ログイン

%article
  %h1.text__header--main
    Airbnbで一生忘れられない旅をしよう。
  %h1.text__header--sub
    世界中の宿泊先と体験を予約。
