%header
  .header__container
    %ul.header__container--common
      %li ホストになる
      %li ホストする時間がない方はこちら
      %li ヘルプ
    %ul.header__container__user--new
      %li アカウント作成
      %li ログイン

%section
  %h1.text__header--main
    Airbnbで一生忘れられない旅をしよう。
  %h1.text__header--sub
    世界中の宿泊先と体験を予約。

%footer.footer__container
  #currency__selector
    日本語
  #lunguage__selector
    USD
  %section
    %span.footer__company Airbnb
  %section
    %span.footer__recommendation スタッフのおすすめ
  %section
    %span.footer__hosting ホスティング
  %hr.footer__divider
  .footer__table
    .footer__table__company__copy
      © Airbnb, Inc.

