%header
  = render "layouts/header"

.main
  = image_tag 'sample1.jpg', class: "main__image"
  .main__room
    %ul.main__room__navi
      %li.main__room__navi__overview 概要
      %li.main__room__navi__reviews レビュー
      %li.main__room__navi__owner ホストについて
      %li.main__room__navi__location 所在地

    .main__room__owner Alex

    %ul.main__room__info
      %li.main__room__info__title Functional loft with green terrace
      %li.main__room__info__location メキシコシティ, Federal District, メキシコ

%footer
  = render "layouts/footer"
