html, body {
  height: 100%;
}

header {
  height: 61px;
}

.header__container {
  list-style: none;

  &--common {
    float: left;
  }

  &--common li {
    display: inline-block;
  }

  &__user--new {
    float: right;
  }

  &__user--new li {
    display: inline-block;
  }
}

section {
  height: 176px;
  padding: 60px 100px 0 100px;
}

section h1 {
  font-size: 48px;
}

.text__header--main {
  color: $mainPink;
  font-weight: bold;
}

