html, body {
  height: 100%;
}

header {
  height: 61px;
}

.header__container {
  list-style: none;

  &--common {
    float: left;
  }

  &--common li {
    display: inline-block;
  }

  &__user--new {
    float: right;
  }

  &__user--new li {
    display: inline-block;
  }
}
