.user__navi {
  width: 100%;
  background-color: #484848;
  color: white;
  height: 40px;

  &__menu {
    padding-left: 150px;


    li {
      list-style: none;
      display: inline-block;
      margin: 10px 20px 10px 0;
    }
  }
}

.user__main {
  padding: 50px 150px;
  width: 100%;

  &__create {
    float: left;
    width: calc(100% * 1 / 5 );
    background-color: $mainPink;
    padding: 15px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      color: white;
      text-decoration: none;
      opacity: 0.8;
    }
  }

  &__rooms {
    @include clearfix();
    float: right;
    width: calc(100% * 4 / 5);

    &__index {
      font-size: 24px;
      margin: 0 30px 30px 40px
    }

    &__nothing {
      font-size: 24px;
      margin: 0 30px 30px 30px
    }
  }

  &__bookings {
    margin: 50px 0;
    float: right;
    width: calc(100% * 4 / 5);

    &__index {
      font-size: 24px;
      margin: 30px;
    }

    &__nothing {
      font-size: 24px;
      margin: 0 30px 30px 30px
    }
  }
}

.user__room__container {
  @include clearfix();
  margin: 30px;
  border: 1px solid #dce0e0;
  border-radius: 5px;

  &__room {
    float: left;
    padding: 10px;

    &__image {
      height: 230px;
      width: 350px;
    }

    &__info {

      li {
        display: inline-block;
        margin: 10px 0;
        font-weight: 700;
      }
    }
  }

  &__booking {
    float: right;
    margin-right: 20px;

    &__status {
      font-size: 24px;
      margin-left: 30px;
    }

    &__nothing {
      font-size: 24px;
      margin-right: 10px;
    }
  }
}

.room__booking__details {
  border: 1px solid #dce0e0;
  border-radius: 5px;
  padding: 10px;

  li {
    margin-top: 5px;
  }
}

.user__booking__container {
  @include clearfix();
  margin: 30px;
  border: 1px solid #dce0e0;
  border-radius: 5px;
  padding: 10px;

  &__room {
    @include clearfix();
    float: right;

    &__image {
      height: 230px;
      width: 350px;
    }

    &__title {
      font-weight: 700;
      margin: 10px 0;
    }
  }

  &__details {
    float: left;
    border: 1px solid #dce0e0;
    border-radius: 5px;
    padding: 15px;
  }
}
